.button {
    width: 189px;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_primary {
    background-color: var(--primary);
    color: var(--white);
}

.button_primary:hover {
    background-color: var(--primary-dark);
}

.button_secondary {
    background-color: var(--secondary);
    color: var(--white);
}

.button_secondary:hover {
    background-color: var(--secondary-dark);
}

.button_alternate {
    background-color: var(--white);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.button_alternate:hover {
    background-color: var(--white);
    border: 1px solid var(--border-color-dark);
}

.button_disabled {
    opacity: 0.5;
    pointer-events: none;
}